body {
    background-color: black;
}

/* holds the title, landing text, questions, and answers. All are either hidden or displayed */

.container {
    max-width: 960;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: lawngreen;
    width: 70%;
}


h1 {
    color: lawngreen;
    font-family: "MadisonSquare", serif;
    font-size: 7em;
    letter-spacing: 5px;
    margin: 10px;
    text-align: center;

}

h2 {
    color: white;
    padding: 40px;
    text-align: center;
    font-family: "futura";
    font-weight: lighter;
}


#quiz-screen {
    display: none;
    color: white;
    padding: 40px;
    text-align: center;
    font-family: "futura";
    font-weight: lighter;
}


button {
    padding: 20px; 
    margin: 20px;
}

header {
    color: white;
    font-family: "futura";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

